img {
    width: 100px;
}

body {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    gap: 12px;
}
